#radios {
    position: relative;
    left: 105px;
    width: 200px;
    height: 160px;
    box-shadow: -3px 1px 13px -2px rgba(245, 245, 245, 0.73);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 14px;
}
