#teste {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        display: absolute;
        width: 60px;
        top: -20px;
        border-radius: 10px;
    }

    .radioDescription {
        font-size: 13px;
        color: #ffffff;
    }
}
