@import "../../shared/styles/colors.scss";

#left-side {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 600px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $background;

  .icon-radio {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 45px;
    left: 0;

    .opacity {
      
      img, p {
        opacity: 0.3;
      }
    }

    p {
      position: relative;
      top: -45px;
      left: 55px;
      font-size: 18px;
      font-size: 700;
      color: #ffffff;
    }
  }

  button {
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
  }

  .select {
    position: relative;
    top: 80px;
  }

  .logo {
    position: relative;
    top: 195px;
  }
}
