@import "../../shared/styles/colors.scss";

#left-side {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 640px;
  top: -8px;
  left: -10px;
  bottom: 0;
  background-color: $background;

  .logo {
    position: absolute;
    bottom: 5px;

    img {
      width: 80px;
    }

    p {
      font-family: 'Yanone Kaffeesatz', sans-serif;
      position: relative;
      margin-top: -1px;
      font-size: 22px;
      font-weight: 500;
      color: #ffffff;
    }
  }
}
