@import '../../shared/styles/colors';

#main {

    .controls {
        position: absolute;
        top: 12px;
        right: -12px;

        button {
            width: 30%;
            border: none;
            outline: 0;
            background-color: transparent;
            cursor: pointer;
        }

        img {
            width: 80%;
        }

        .btn-minimize {
            position: relative;
            top: -3px;
            margin-right: 5px;
        }
    }

    #btn-choose {
            position: absolute;
            left: 20px;
             
            button {
                position: relative;
                top: -8px;
                left: 5px;
                font-size: 16px;
                border: none;
                color: #ffffff;
                outline: 0;
                background-color: transparent;
                cursor: pointer;
            }
    
        .icon-radio {
            margin-top: 25px;
        }
    }

    .musics {
        position: absolute;
        width: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 35px;
    }

    .radiosStations {
        position: absolute;
        width: 600px;
        height: 1vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        left: 75px;
    }

    .description {
        position: relative;
        direction: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 60px;
        bottom: -580px;
    
        p {
            font-size: 13px;
            font-weight: 700;
            color: #ffffff;
        }
    }
}
