@import '../../shared/styles/colors';

#main {
    z-index: 99;

    .controls {
        position: absolute;
        top: 5px;
        right: -580px;

        button {
            width: 30%;
            border: none;
            outline: 0;
            background-color: transparent;
            cursor: pointer;
        }

        img {
            width: 80%;
        }

        .btn-minimize {
            position: relative;
            top: -3px;
            margin-right: 5px;
        }
    }

    .musics {
        position: absolute;
        width: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 35px;
    }

    .radiosStations {
        position: absolute;
        width: 600px;
        height: 1vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        left: 75px;
    }
}
