#stations {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 30vh;
    margin: 0 95px 85px 125px;
    top: -5px;
    left: -158px;
    z-index: 1;

    .radios-description {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 210px;
        height: 21vh;
        margin: 0 50px 25px 0;
        border: 3px solid #F5F5F5;
        border-radius: 10px;
        background-color: #3B5D80;
        cursor: pointer;

        &:hover {
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 6s;
            opacity: .5;
        }


        .radios-cards {
            img {
                width: 60px;
            }

            p {
                font-size: 13px;
                color: #ffffff;
            }
        }
    }

    .radios-description-opacity {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 210px;
        height: 21vh;
        margin: 0 50px 25px 0;
        border: 3px solid #F5F5F5;
        border-radius: 10px;
        background-color: #3B5D80;
        opacity: .4;
        cursor: pointer;

        .radios-cards {
            img {
                width: 60px;
            }

            p {
                font-size: 13px;
                color: #ffffff;
            }
        }
    }
}

#search {
    position: relative;
    top: 750px;
    left: 500px;
}
