#stations {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 90vh;
    left: 23px;

    .radios-description {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 190px;
        height: 18vh;
        margin: 0 15px 15px 0;
        border: 3px solid rgba(245, 245, 245, 0.9);
        border-radius: 10px;
        background-color: #558686;

        &:hover {
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 6s;
            opacity: .5;
        }

        span {
            img {
                width: 30px;
                border-radius: 50px;
            }

            p {
                font-size: 10px;
                color: #ffffff;
            }
        }
    }
}
